<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Covid-19 Project</title>
		<link
			rel="shortcut icon"
			href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="
		/>
		<link rel="stylesheet" href="css/bulma.css" />
		<link rel="stylesheet" href="css/elements.css" />
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	</head>
	<body>
		<div id="vue-target">
			<nav class="level">
				<p class="level-item has-text-centered title is-1">
					Covid-19 Project
				</p>
			</nav>

			<nav class="level">
				<div class="level-item has-text-centered">
					<p class="subtitle is-3 is-spaced">Choose a region:</p>
				</div>
			</nav>

			<nav class="level">
				<div class="level-item has-text-centered">
					<div class="select is-rounded">
						<select v-model="region_model">
							<option @click="update_chart(region_model)" v-for="region in regions">
								{{region}}
							</option>
						</select>
					</div>
				</div>
			</nav>

			<!-- <nav class="level">
				<div class="level-item has-text-centered">
					<button class="button is-link" @click="update_chart(region_model)">
						Chart it!
					</button>
				</div>
			</nav> -->

			<nav class="level">
				<div class="level-item has-text-centered">
					<p class="subtitle is-3 is-spaced">
						Displaying: {{region_model}}
					</p>
				</div>
			</nav>

			<section class="section">
				<section class="section">
                    <canvas 
                        id="cumulativeChart" 
                        width="100" 
                        height="500">
                    </canvas>
				</section>
				<section class="section">
					<canvas
						id="dailyChart"
						width="100"
                        height="500">
                    </canvas>
				</section>
				<!-- <section class="main-chart-section">
					<canvas
						id="testResultsChart"
						width="100"
                        height="50"> 
                    </canvas>
				</section> -->
			</section>
		</div>
	</body>
	<script src="js/vue.js"></script>
	<script src="js/index.js"></script>
</html>
